/* Styles for the general looks for the Curve theme.
------------------------------------------------------- */
:root{
    touch-action: pan-x pan-y;
    height: 100%;
}

.news_box {
    visibility: hidden !important;
    font: normal 1em "Helvetica Neue", Arial, sans-serif !important;
}
.nav_user_info {
    position:fixed;
    left:300px;
    top:00px !important;
    align-content: right;
    width: 540px;
    height:60px;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display:flex !important;
    flex-direction:row !important;
    flex-wrap:wrap;
    flex-basis: 100%;
}
.nav_user_info p.avatar{
	display:block;
    width: 20%;
    height: 70%;
}
.avatar {
    margin: 8px auto 0px auto;
}

/* Set a fontsize that will look the same in all browsers. */
body {
    font: normal 1.8em "Helvetica Neue", Arial, sans-serif !important;
    margin-left: 0px !important;
    padding-top: 0px !important;
}
/* This division wraps the entire forum when a forum width is set. */
div#wrapper {
    margin: 0px !important;
    left: 0px !important;
}
/* We can style the different types of input buttons to be uniform throughout different browsers and their color themes.
	.button_submit - covers input[type=submit], input[type=button], button[type=submit] and button[type=button] in all browsers
	.button_reset  - covers input[type=reset] and button[type=reset] throughout all browsers
	.input_check   - covers input[type=checkbox] throughout all browsers
	.input_radio   - covers input[type=radio] throughout all browsers
	.input_text    - covers input[type=text] throughout all browsers
	.input_file    - covers input[type=file] throughout all browsers
*/
input,
button,
select,
textarea {
    font: 1em verdana, Helvetica, sans-serif !important;
}

.t_greeting {
    margin-top: 0em !important;
    height:20% !important;
    width: 70% !important;
}
.t_messages {
    height:20% !important;
    width:80% !important;
    min-width: 70% !important;
    max-width: 100% !important;
    margin-bottom: 0em !important;
    line-height: 40% !important;
}
.t_messages li {
    padding: -1em 0 !important;
}
/* Some BBC related styles.
------------------------------------------------------- */
.attachments div a{
	max-width: 20%;
	display:inline-block;
	white-space: nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
}
/* AJAX notification bar
------------------------------------------------------- */
#ajax_in_progress {
    font-size: 1em !important;
}
table.table_list tbody.content td.lastpost {
    width: 21% !important;
}
.poster {
    width: 8em !important;
}
.poster h4 {
    font-size: 1.2em !important;
}
#quickReplyOptions form textarea {
    width: 100% !important;
}
.adm_section h4.titlebg {
    font-size: 0.95em !important;
}
#basicinfo h4 {
    font-size: 1.35 !important;
}
#basicinfo h4 span.position {
    font-size: 0.8em !important;
}
#advanced_search dl#search_options {
    width: 60px !important;
}
/* Additional theme CSS
-------------------------------------------------------- */
.logo {
    position:sticky !important;
    height: 98px !important;
    top: min(38px,-101px) !important;
    width: 250px !important !important;
    z-index: 2 !important;
}
.logo_image {
    z-index: 2 !important;
}
.nav_bar {
    min-height: 70px !important;
    width: 100% !important;
    position: sticky !important;
    top: -2px !important;
    font: 1em "Helvetica", "Arial", sans-serif !important;
    font-size: 1.1em !important;
    border-top: 2.9px solid black;
    padding-left: 0px !important;
    z-index: 0;
}
.nav_bar_content {
    display:flex !important;
    flex-direction: row !important;
    flex-wrap:wrap;
    justify-content:space-around;
    width:100%;
    padding-left: 0%;
}
.nav_bar_item a {
    display:flex !important;
    flex-direction: row !important;
    padding: 0 10px !important;
}
.nav_bar_item:first-child{
    padding-left: 9em;
}
.nav_bar_item {
    min-width: 13% !important;
    max-width: 30% !important;
}
