/* Styles for the general looks for the Curve theme.
------------------------------------------------------- */
:root{
    touch-action: pan-x pan-y;
    height: 100%;
}

.news_box {
    background: transparent;
    color: #000;
    font: normal 12px/130% "Helvetica Neue", Arial, sans-serif;
    top: 10px;
    right: 10px;
    width: 300px;
    height: 87px;
    position: absolute;
}
.news_box h2 {
    color: #1a90e2;
}
.nav_user_info {
    position:fixed;
    right:320px;
top:200px !important;
    align-content: right;
    width: 320px;
    background: transparent;
    padding-left: 0px !important;
    padding-right: 0px !important;
    display:flex; !important;
    flex-direction:row !important;
}
.avatar {
    margin: 0px auto 0px auto;
}
p.avatar img.avatar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height:32px;
}
/* Tables should show empty cells. */
table {
    empty-cells: show;
}
/* Set a fontsize that will look the same in all browsers. */
#wrapper {
}
body {
    background: #f8f8f8;
    font: normal 1.8em "Helvetica Neue", Arial, sans-serif !important;
    margin: 0 auto;
    padding: 0 0;
    margin-left: 0px;
    padding-top: 0px;
}
/* Help popups require a different styling of the body element. */
body#help_popup {
    padding: 1em;
}
/* This division wraps the entire forum when a forum width is set. */
div#wrapper {
    margin: 0px !important;
    left: 0px !important;
    min-width: 100%;
    max-width: 100%;
}
/* We can style the different types of input buttons to be uniform throughout different browsers and their color themes.
	.button_submit - covers input[type=submit], input[type=button], button[type=submit] and button[type=button] in all browsers
	.button_reset  - covers input[type=reset] and button[type=reset] throughout all browsers
	.input_check   - covers input[type=checkbox] throughout all browsers
	.input_radio   - covers input[type=radio] throughout all browsers
	.input_text    - covers input[type=text] throughout all browsers
	.input_file    - covers input[type=file] throughout all browsers
*/
input,
button,
select,
textarea {
    font: 1em verdana, Helvetica, sans-serif !important;
    color: #000;
    background: #fff;
    border: 1px solid #7f9db9;
    padding: 2px;
}
/* Select elements look horrible with the extra padding, so leave them unpadded. */
select {
    padding: 0;
}
/* Add some padding to the options instead. */
select option {
    padding: 1px;
}
/* The font size of textareas should be just a little bit larger. */
textarea {
    font: 100%/130% verdana, Helvetica, sans-serif;
}
/* Buttons should be styled a bit differently, in order to make them look more button'ish. */
.button_submit,
.button_reset {
    background: #cde7ff url(../images/theme/submit_bg.png) no-repeat;
    border: 1px solid #aaa;
    cursor: pointer;
    font-weight: normal;
}
input:hover,
textarea:hover,
button:hover,
select:hover {
    border: 1px solid #454545;
}
.button_submit:hover,
.button_reset:hover {
    border: 1px solid #aaa;
    background: url(../images/theme/submit_bg.png) no-repeat 0 -140px #cde7ff;
}
input:focus,
textarea:focus,
button:focus,
select:focus {
    border: 1px solid #454545;
}
/* All input elements that are checkboxes or radio buttons shouldn't have a border around them. */
input.input_check,
input.input_radio {
    border: none;
    background: none;
}
h3.catbg input.input_check {
    margin: 9px 7px 0 7px;
}
/* Give disabled text input elements a different background color. */
input[disabled].input_text {
    background-color: #eee;
}
/* Standard horizontal rule.. ([hr], etc.) */
hr,
.hrcolor {
    height: 1px;
    border: 0;
    color: #ccc;
    background-color: #ccc;
}
/* By default set the color on these tags as #000. */
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #000;
    font-size: 1em;
    margin: 0;
    padding: 0;
}
/* Fieldsets are used to group elements. */
fieldset {
    border: 1px solid #c4c4c4;
    padding: 1em;
    margin: 0 0 0.5em 0;
}
fieldset legend {
    font-weight: bold;
    color: #444;
}
/* No image should have a border when linked. */
a img {
    border: 0;
}
/* Define strong as bold, and em as italics */
strong {
    font-weight: bold;
    text-decoration: none;
}
em {
    font-style: italic;
}
/* Alternative for u tag */
.underline {
    text-decoration: underline;
}
/* Common classes to easy styling.
------------------------------------------------------- */
.floatright {
    float: right;
}
.floatleft {
    float: left;
}
.flow_auto {
    overflow: auto;
}
.flow_hidden {
    overflow: hidden;
}
.flow_hidden .windowbg,
.flow_hidden .windowbg2 {
    margin-top: 2px;
}
.clear {
    clear: both;
}
.clear_left {
    clear: left;
}
.clear_right {
    clear: right;
}
/* Default font sizes: small (8pt), normal (10pt), and large (14pt). */
.smalltext,
tr.smalltext th {
    font-size: 0.85em;
    font-family: verdana, sans-serif;
}
.middletext {
    font-size: 0.9em;
    line-height: 1em;
    font-family: verdana, sans-serif;
}
.normaltext {
    font-size: 1em;
    line-height: 1.2em;
}
.largetext {
    font-size: 1.4em;
}
.centertext {
    margin: 0 auto;
    text-align: center;
}
.righttext {
    margin-left: auto;
    margin-right: 0;
    text-align: right;
}
.lefttext {
    margin-left: 0;
    margin-right: auto;
    text-align: left;
}
.double_height {
    line-height: 2em;
}
/* some common padding styles */
.padding {
    padding: 0.7em;
}
.main_section,
.lower_padding {
    padding-bottom: 0.5em;
}
/* a quick reset list class. */
ul.reset,
ul.reset li {
    padding: 0;
    margin: 0;
    list-style: none;
}
.t_greeting,
.t_messages {
    padding: 0;
    margin: 0;
    list-style: none;
}
.t_greeting li {
    text-align: center;
}
.t_greeting {
    margin-top: 1em;
}
.t_messages {
    margin-bottom: 1em;
    font-size: 80%;
    line-height: 120%;
}
.t_messages li {
    padding: 0.2em 0;
}
/* Some BBC related styles.
------------------------------------------------------- */
/* A quote, perhaps from another post. */
blockquote.bbc_standard_quote,
blockquote.bbc_alternate_quote {
    font-size: small;
    color: #000;
    line-height: 1.4em;
    background: url(../images/theme/quote.png) 0.1em 0.1em no-repeat;
    border-top: 2px solid #99a;
    border-bottom: 2px solid #99a;
    padding: 0.3em 1.4em;
    margin: 0.1em 0 0.3em 0;
    overflow: auto;
}
/* Alterate blockquote stylings */
blockquote.bbc_standard_quote {
    background-color: #d7daec;
}
blockquote.bbc_alternate_quote {
    background-color: #e7eafc;
}
/* A code block - maybe PHP ;). */
code.bbc_code {
    display: block;
    font-family: "dejavu sans mono", "monaco", "lucida console", "courier new",
        monospace;
    font-size: x-small;
    background: #eef;
    border-top: 2px solid #999;
    border-bottom: 2px solid #999;
    line-height: 1.5em;
    padding: 3px 1em;
    overflow: auto;
    white-space: nowrap;
    /* Show a scrollbar after about 24 lines. */
    max-height: 24em;
}
/* The "Quote:" and "Code:" header parts... */
.codeheader,
.quoteheader {
    color: #666;
    font-size: x-small;
    font-weight: bold;
    padding: 0 0.3em;
}
/* For links to change the code stuff... */
.codeoperation {
    font-weight: normal;
}
/* Styling for BBC tags */
.bbc_link:link,
.bbc_link:visited {
    text-decoration: none;
    border-bottom: #a8b6cf;
}
.bbc_link:hover {
    text-decoration: none;
    border-bottom: #346;
}
.bbc_size {
    line-height: 1.4em;
}
.bbc_color a {
    color: inherit;
}
.bbc_img {
    border: 0;
}
.bbc_table {
    font: inherit;
    color: inherit;
}
.bbc_table td {
    font: inherit;
    color: inherit;
    vertical-align: top;
}
.bbc_u {
    text-decoration: underline;
}
.bbc_list {
    text-align: left;
}
.bbc_tt {
    font-family: "dejavu sans mono", "monaco", "lucida console", "courier new",
        monospace;
}
/* Generally, those [?] icons.  This makes your cursor a help icon. */
.help {
    cursor: help;
}
/* /me uses this a lot. (emote, try typing /me in a post.) */
.meaction {
    color: red;
}
/* Highlighted text - such as search results. */
.highlight {
    font-weight: bold;
    color: #ff7200 !important;
    font-size: 1.1em;
}
/* A more discreet highlight color, for selected membergroups etc. */
.highlight2 {
    background-color: #d1e1ef;
    color: #000 !important;
}
/* Generic, mostly color-related, classes.
------------------------------------------------------- */
.titlebg,
.titlebg2,
tr.titlebg th,
tr.titlebg td,
tr.titlebg2 td {
    color: #222;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    background: #cadee9;
}
.catbg,
.catbg2,
tr.catbg td,
tr.catbg2 td,
tr.catbg th,
tr.catbg2 th {
    color: #346;
    font-family: arial, helvetica, sans-serif;
    font-size: 1.1em;
    font-weight: bold;
    background: #cadee9;
}
/* adjust the table versions of headers */
tr.titlebg th,
tr.titlebg2 th,
td.titlebg,
td.titlebg2,
tr.catbg th,
tr.catbg2 th,
td.catbg,
td.catbg2 {
    padding: 0 6px;
}
tr.titlebg th a:link,
tr.titlebg th a:visited,
tr.titlebg2 td a:link,
tr.titlebg2 td a:visited {
    color: #222;
}
tr.catbg th a:link,
tr.catbg th a:visited,
tr.catbg2 td a:link,
tr.catbg2 td a:visited {
    color: #346;
}
.catbg select {
    height: 1.5em;
    font-size: 0.85em;
}
/* Alternating backgrounds for posts, and several other sections of the forum. */
.windowbg,
#preview_body {
    color: #000;
    margin-left: 5px;
}
.windowbg2 {
    color: #000;
    background-color: #eaeaea;
    margin-left: 5px;
}
.windowbg3 {
    color: #000;
    background-color: #ccc;
    margin-left: 5px;
}
/* the page navigation area */
.pagesection {
    font-size: 0.9em;
    padding: 0.2em;
    overflow: hidden;
    margin-bottom: 1px;
}
div.pagesection div.floatright input {
    margin-top: 3px;
}
.pagelinks {
    padding: 0.6em 0 0.4em 0;
    margin-left: 5px;
}
/* Colors for background of posts requiring approval */
.approvebg {
    color: #000;
    background-color: #ffeaea;
}
.approvebg2 {
    color: #000;
    background-color: #fff2f2;
}
/* Color for background of *topics* requiring approval */
.approvetbg {
    color: #000;
    background-color: #e4a17c;
}
.approvetbg2 {
    color: #000;
    background-color: #f3bd9f;
}
/* Sticky topics get a different background */
.stickybg {
    background-color: #dde;
}
.stickybg2 {
    background-color: #ccd;
}
/* Locked posts get a different shade, too! */
.lockedbg {
    background: #dddde0;
    font-style: italic;
}
.lockedbg2 {
    background: #ccccd8;
    font-style: italic;
}
/* Posts and personal messages displayed throughout the forum. */
.post,
.personalmessage {
    overflow: auto;
    line-height: 1.4em;
    padding: 0.1em 0;
}
/* All the signatures used in the forum.  If your forum users use Mozilla, Opera, or Safari, you might add max-height here ;). */
.signature,
.attachments {
    width: 98%;
    clear: right;
    padding: 1em 0 3px 0;
    border-top: 1px solid #aaa;
    line-height: 1.4em;
    font-size: 0.85em;
}
.signature {
    overflow: hidden;
    max-height: 140px;
}
.custom_fields_above_signature {
    width: 98%;
    clear: right;
    padding: 1em 0 3px 0;
    border-top: 1px solid #aaa;
    line-height: 1.4em;
    font-size: 0.85em;
}
/* Sometimes there will be an error when you post */
.error {
    color: red;
}
/* Messages that somehow need to attract the attention. */
.alert {
    color: red;
}
/* Calendar colors for birthdays, events and holidays */
.birthday {
    color: #920ac4;
}
.event {
    color: #078907;
}
.holiday {
    color: #000080;
}
/* Colors for warnings */
.warn_mute {
    color: red;
}
.warn_moderate {
    color: #ffa500;
}
.warn_watch,
.success {
    color: green;
}
a.moderation_link,
a.moderation_link:visited {
    color: red;
    font-weight: bold;
}
.openid_login {
    background: white url(../images/openid.gif) no-repeat;
    padding-left: 18px;
}
/* a descriptive style */
.description,
.description_board,
.plainbox {
    padding: 0.5em 1em;
    font-size: 0.9em;
    line-height: 1.4em;
    border: 1px solid #bbb;
    background: #f5f5f0;
    margin: 0.2em 1px 1em 1px;
}
.description_board {
    margin: 1em 1px 0 1px;
}
/* an informative style */
.information {
    padding: 0.5em 1em;
    font-size: 0.9em;
    line-height: 1.3em;
    border: 1px solid #bbb;
    background: #f0f6f0;
    margin: 0.2em 1px 1em 1px;
}
.information p {
    padding: 1em;
    margin: 0;
}
p.para2 {
    padding: 1em 0 3.5em 0;
    margin: 0;
}
/* AJAX notification bar
------------------------------------------------------- */
#ajax_in_progress {
    background: url(../images/theme/loadingbar.png) repeat-x;
    color: #f96f00;
    text-align: center;
    font-size: 1em !important;
    padding: 8px;
    width: 100%;
    height: 66px;
    line-height: 25px;
    position: fixed;
    top: 0;
    left: 0;
}
#ajax_in_progress a {
    color: orange;
    text-decoration: underline;
    font-size: smaller;
    float: right;
    margin-right: 20px;
}
/* Lists with settings use these a lot.
------------------------------------------------------- */
dl.settings {
    clear: right;
    overflow: auto;
    margin: 0 0 10px 0;
    padding: 0;
}
dl.settings dt {
    width: 40%;
    float: left;
    margin: 0 0 10px 0;
    padding: 0;
    clear: both;
}
dl.settings dt.settings_title {
    width: 100%;
    float: none;
    margin: 0 0 10px 0;
    padding: 5px 0 0 0;
    font-weight: bold;
    clear: both;
}
dl.settings dt.windowbg {
    width: 98%;
    float: left;
    margin: 0 0 3px 0;
    padding: 0 0 5px 0;
    clear: both;
}
dl.settings dd {
    width: 56%;
    float: right;
    overflow: auto;
    margin: 0 0 3px 0;
    padding: 0;
}
dl.settings img {
    margin: 0 10px 0 0;
}
/* help icons */
dl.settings dt a img {
    position: relative;
    top: 2px;
}
/* Styles for rounded headers.
------------------------------------------------------- */
h3.catbg,
h3.catbg2,
h3.titlebg,
h4.titlebg,
h4.catbg {
    overflow: hidden;
    height: 31px;
    line-height: 31px;
    font-size: 1.2em;
    font-weight: bold;
}
h3.catbg a:link,
h3.catbg a:visited,
h4.catbg a:link,
h4.catbg a:visited,
h3.catbg,
.table_list tbody.header td,
.table_list tbody.header td a {
    color: #346;
}
h3.catbg2 a,
h3.catbg2 {
    color: #1a90e2;
}
h3.catbg a:hover,
h4.catbg a:hover,
.table_list tbody.header td a:hover {
    color: #1a90e2;
    text-decoration: none;
}
h3.catbg2 a:hover {
    color: #fff;
    text-decoration: none;
}
h3.titlebg a,
h3.titlebg,
h4.titlebg,
h4.titlebg a {
    color: #346;
}
h3.titlebg a:hover,
h4.titlebg a:hover {
    color: #53616f;
    text-decoration: none;
}
h3.catbg img.icon,
h4.titlebg img.icon {
    vertical-align: middle;
    margin: -2px 5px 0 0;
}
h4.catbg a.toggle img {
    vertical-align: middle;
    margin: -2px 5px 0 5px;
}
h4.catbg,
h4.catbg2,
h3.catbg,
h3.catbg2,
.table_list tbody.header td.catbg {
    background: #cadee9;
    padding-right: 9px;
}
h4.titlebg,
h3.titlebg {
    background: #cadee9;
    padding-right: 9px;
}
h4.titlebg img.icon {
    float: left;
    margin: 5px 8px 0 0;
}
div.cat_bar {
    background: #cadee9;
    padding-left: 9px;
    height: 31px;
    overflow: hidden;
    margin-bottom: 1px;
}
div.title_bar {
    background: #cadee9;
    padding-left: 9px;
    height: 31px;
    overflow: hidden;
    margin-bottom: 1px;
}
/* rounded bars needs a different background here */
div.roundframe div.cat_bar {
    background: #cadee9;
    margin-bottom: 0;
}
div.roundframe div.cat_bar h3.catbg {
    background: #cadee9;
}
div.title_barIC {
    background: #cadee9;
    padding-left: 9px;
    height: 31px;
    overflow: hidden;
    margin-bottom: 1px;
}
div.title_barIC h4.titlebg {
    background: #cadee9;
}
#upshrinkHeaderIC p.pminfo {
    margin: 0;
    padding: 0.5em;
}
img#upshrink_ic,
img#newsupshrink {
    float: right;
    margin: 10px 5px 0 0;
}
table.table_list a.unreadlink,
table.table_list a.collapse {
    float: right;
}
table.table_list a.collapse {
    margin: 10px 5px 0 1em;
    height: 31px;
    line-height: 31px;
}
/* The half-round header bars for some tables. */
.table_grid tr.catbg,
.table_grid tr.titlebg {
    font-size: 0.95em;
    border-bottom: 1px solid #fff;
}
.table_grid tr.catbg th,
.table_grid tr.titlebg th {
    height: 28px;
    line-height: 28px;
}
tr.catbg th.first_th {
    background: #cadee9;
}
tr.catbg th.last_th {
    background: #cadee9;
}
tr.titlebg th.first_th {
    background: #cadee9;
}
tr.titlebg th.last_th {
    background: #cadee9;
}
.table_grid th.last_th input {
    margin: 0 2px;
}
.table_grid th.lefttext {
    padding: 0 0.7em;
}
/* a general table class */
table.table_grid {
    border-collapse: collapse;
    margin-top: 0.1em;
}
table.table_grid td {
    padding: 3px;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
}
/* GenericList */
.additional_row {
    padding: 0.5em 0 0.5em 0;
}
table.table_grid thead tr.catbg th {
    white-space: nowrap;
}
/* table_grid styles for Profile > Show Permissions. */
#permissions table.table_grid td {
    padding: 0.4em 0.8em;
    cursor: default;
}
/* Common styles used to add corners to divisions.
------------------------------------------------------- */
.windowbg span.topslice {
    display: block;
    padding-left: 20px;
}
.windowbg span.topslice span {
    display: block;
    height: 11px;
}
.windowbg span.botslice {
    display: block;
    padding-left: 20px;
    font-size: 5px;
    line-height: 5px;
    margin-bottom: 0.2em;
}
.windowbg span.botslice span {
    display: block;
    height: 11px;
}
.windowbg2 span.topslice {
    display: block;
    padding-left: 20px;
}
.windowbg2 span.topslice span {
    display: block;
    height: 11px;
}
.windowbg2 span.botslice {
    display: block;
    padding-left: 20px;
    font-size: 5px;
    line-height: 5px;
    margin-bottom: 0.2em;
}
.windowbg2 span.botslice span {
    display: block;
    height: 11px;
}
.approvebg span.topslice {
    display: block;
    padding-left: 20px;
}
.approvebg span.topslice span {
    display: block;
    height: 11px;
}
.approvebg span.botslice {
    display: block;
    padding-left: 20px;
    margin-bottom: 0.2em;
}
.approvebg span.botslice span {
    display: block;
    height: 11px;
}
.postbg {
    border-left: 1px solid #7f7f7f;
    border-right: 1px solid #7f7f7f;
}
/* Used for sections that need somewhat larger corners.
----------------------------------------------------------- */
.roundframe {
    padding: 0 2px;
    border-left: 0px solid #c5c5c5;
    border-right: 0px solid #c5c5c5;
}
.roundframe dl,
.roundframe dt,
.roundframe p {
    margin: 0;
}
.roundframe p {
    padding: 0.5em;
}
span.upperframe {
    padding: 0;
    display: block;
    padding-left: 20px;
}
span.upperframe span {
    padding: 0;
    height: 12px;
    display: block;
}
span.lowerframe {
    padding: 0;
    display: block;
    padding-left: 20px;
}
span.lowerframe span {
    padding: 0;
    height: 12px;
    display: block;
}
/* The main content area.
------------------------------------------------------- */
.content {
    padding: 0.5em 1.2em;
    margin: 0;
    border: none;
}
.content p {
    margin: 0 0 0.5em 0;
}
/* Styles used by the auto suggest control.
------------------------------------------------------- */
.auto_suggest_div {
    border: 1px solid #000;
    position: absolute;
    visibility: hidden;
}
.auto_suggest_item {
    background-color: #ddd;
}
.auto_suggest_item_hover {
    background-color: #888;
    cursor: pointer;
    color: #eee;
}
/* Styles for the standard dropdown menus.
------------------------------------------------------- */
#main_menu {
    padding: 0 0.5em;
    float: left;
    margin: 0;
    width: 98%;
}
.dropmenu,
.dropmenu ul {
    list-style: none;
    line-height: 1em;
    padding: 0;
    margin: 0;
}
.dropmenu {
    padding: 0 0.5em;
}
.dropmenu a {
    display: block;
    color: #000;
    text-decoration: none;
}
.dropmenu a span {
    display: block;
    padding: 0 0 0 5px;
    font-size: 0.9em;
}
/* the backg
